/*====Deepak Kumar Custom CSS=====*/
.dkfilter{text-align:left}
.dkfilter .dkf{padding: 2px 20px; border-radius: 0px 0px 5px 5px;}
.dkfilter .dkf span{display: block;height: 18px;}
.dkadvancefilter{text-align:center}
.dkadvancefilter .dkaf{padding: 2px 20px; border-radius: 0px 0px 5px 5px;}
.dkadvancefilter .dkaf span{display: block;height: 18px;}
.dkresetfilter{text-align:right; padding-left: 0px !important;}
/*.dkresetfilter .dkreset{padding: 10px 20px;}*/
.dkresetfilter .dkreset{padding: 0px; font-size: 12px;}

.dkresetfilter a.dkresettt{padding: 0px; font-size: 12px; color: #000; display: block; text-align: center;}
li.custnameblock{font-size: 14px;
  line-height: 25px !important;
  text-transform: uppercase;
  width: 162px;
  text-align: right;}
  
.finalpricebox input{background-color: #f2f2f2; border: 1px solid #ced4da; cursor: not-allowed;}
.finalpricebox input.symb{ text-align: right; border-right:none; padding-left: 0px; width:28px} 
.finalpricebox input.pprice{text-align: left; border-left: none; padding-right: 0px; width:90px; border-radius: 0 4px 4px 0;}   

li.curreny-wrap.admincurrency{margin: 10px 20px;}
li.curreny-wrap.admincurrency select{background:#495867; color: #f2f2f2; padding:5px; cursor: pointer;}

.touch_details.contactinfo a{display:block; margin-bottom: 15px;}
.touch_details.contactinfo a span{display:inline-table; }
.touch_details.contactinfo a span:first-child{font-size: 20px; margin:0 10px 0 0;}
.touch_details.contactinfo h4{display:block;}
.reportblock{margin-top: 15px;}
h4.reportheading{margin: 0px; position: relative;
  padding: 12px;
  background: #495867;
  color: #f2f2f2;
  font-size: 18px;}

  h4.reportheading span{display: inline-block;
    position: absolute;
    right: 0;
    background: #384451;
    top: 0px;
    padding: 12px 20px;}

.reportblock .table-bordered>tbody>tr>td, .reportblock .table-bordered>tbody>tr>th, .reportblock .table-bordered>tfoot>tr>td, .reportblock .table-bordered>tfoot>tr>th, .reportblock .table-bordered>thead>tr>td, .reportblock .table-bordered>thead>tr>th {
    border: 1px solid #495867;
}  


.dkFilterbox{ margin: 0 0 15px 0;}
.editrowdisplay{display:none;}

/* #showAdvanceFilterBox, #shortFilterBox{display: none;} */

.hideFilter, .showAfilter, .hideAfilter{display: none;}
.Search-for-Diamonds-wrp .shape-filter{float: left !important;}

.Search-for-Diamonds-wrp .heading-text{
    margin: 0px 0 10px 0;
    text-transform: uppercase;
    font-size: 17px;}
.Search-for-Diamonds-wrp .gaye-box{padding: 10px 10px 0 10px;}
.Search-for-Diamonds-wrp .shape-filter-btn{width:60px;}
.Search-for-Diamonds-wrp .shape-filter-btn .checkbox33{font-size: 10px;}
.Search-for-Diamonds-wrp .shape-filter-btn .checkmark {
    top: 18px; background-position: 54% !important;
    height: 51px;
    width: 55px;}
.Search-for-Diamonds-wrp .shape-filter input:checked ~ .checkmark:after {
      display: none;
  }  

.Search-for-Diamonds-wrp .shape-filter-btn .checkmark{border:2px solid #002853;}
  
.Search-for-Diamonds-wrp .price-range-block #searchResults1, .Search-for-Diamonds-wrp .price-range-block #searchResults{display: none !important;}

.Search-for-Diamonds-wrp .price-range-block .price-range-field{
  height: 30px;
  padding: 0 10px;
}

.boxHeader{width:100%; margin:0px; padding: 0px;}
.boxHeader button{width: 33.3%;}
.boxHeader button a{padding:10px 30px; display: block; 
  text-transform: uppercase; color: #000; font-size: 15px;}

.requestbox{position: relative;}
.requestbox img{position: relative;}
.requestbox form{position: absolute;
  top: 150px;
  right: 0px;
  left: 0px;
  bottom: 0px;}
.requestbox button.requestform{background: #002853;
  font-size: 12px;
  padding: 3px 10px;
  border: none;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;}

  .requestbox.certifform form{position: relative; top:0px;}
.meleeformbox{border: 1px solid #495867;
  padding: 20px; overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}
.meleeformbox h4{background: #495867;
  position: absolute;
  top: -10px;
  width: 100%;
  left: 0;
  color: #fff;
  padding: 8px 15px}
  
  .boxHeader.meleeheading .tab{border-color: #495867; border-right:0px; border-left:0px;} 
  .boxHeader.meleeheading .tab button.active{background-color: #495867;}
  .boxHeader.meleeheading .tab button.active a{color:#fff}

  .frontmeleediamondbox{width: 100%; margin:0px; padding: 0px;}
  .frontmeleediamondbox h5{margin: 0px;
    padding: 8px 15px;
    font-size: 15px;
    border: 1px solid #002853;
    background: #f2f2f2;
    text-transform: uppercase;}
  .frontmeleediamondbox .table-bordered {border: 1px solid #002853;}
  .frontmeleediamondbox .margboxws{padding:0px !important}

  .princessSection{display:none;}
  .roundSection{display:block;}

  .delnotdisplay{display:none;}

  .meleeformbox form{margin:30px 0 0 0;}

.meleeformbox .padlabel{padding-right: 0;
  text-align: right;
  line-height: 31px;}  

.shape-filter{font-size: 10px !important;}


.tab-content h4{margin: 0px !important;
    padding: 10px 30px !important;
    text-transform: uppercase;
    font-size: 15px;}
.table-accordion-wrp .table-responsive .table th{    
    padding: 5px 5px;
    font-size: 13px;
    background: #002853;
    color: #f2f2f2;} 
.table-accordion-wrp .table-responsive .table td{padding: 5px 5px; font-size: 13px;} 
.table-accordion-wrp .table-responsive .table td p{width: 35px; height: 35px; overflow: hidden;}
.table-accordion-wrp .table-responsive .table td p img, .table-accordion-wrp .table-responsive .table td p img{max-width: 100%;} 
.table-accordion-wrp .table-responsive .table td a.detail-order-btn{padding: 6px 10px !important; display: block; margin: 0px auto;}    

.dkpsearchbox{ margin:10px 0 !important} 
.totaldimondbox h5{padding: 10px 0;
    margin: 0px;
    font-size: 15px;
    text-transform: uppercase;}
.table-accordion-wrp{margin-bottom: 0px !important;} 

.paginationblock ul.pagination{margin: 0px;}
.paginationblock td{padding: 0px !important;}
.paginationblock ul.pagination span, .paginationblock ul.pagination a{cursor: pointer;}

/* .enquiryorderbox .table-bordered>thead>tr>td, .enquiryorderbox .table-bordered>thead>tr>th, .enquiryorderbox .table-bordered>tbody>tr>td, .enquiryorderbox .table-bordered>tbody>tr>th {font-size: 14px;} */

.totaldimondbox h5 span{display: inline-block;}
.totaldimondbox h5 span:nth-child(2){margin: 0 5px;} 
.totaldimondbox h5 span:nth-child(2), .totaldimondbox h5 span:last-child{color:#002853; font-weight: 900;}   
/* .diamondserachbox{} */
.diamondserachbox .form-group{margin-bottom: 0px; position: relative;}
.diamondserachbox .form-group  button.searchbtn{
    width: 100%;  
    text-align: center;
    height: 38px;
    background: #ced4da;
    font-size: 15px;
    line-height: 38px;
    border-radius: 0 5px 5px 0px;
}
.diamondserachbox input.form-control{padding: .375rem .75rem;}

.shortby_clarity{display: block; padding: 2px; border: 1px solid #f00;}

.diamondserachbox .form-group button.searchbtn:hover{opacity: 0.6;}
.diamondserachbox .form-group a, .diamondserachbox .form-group button.resetbtn{display: block;
    border: 1px solid #f00; width: 100%;
    text-align: center;
    line-height: 34px;
    font-size: 25px;
    color: #f00;
    border-radius: 5px;}
.diamondserachbox .form-group a:hover, .diamondserachbox .form-group button.resetbtn:hover{opacity: 0.6;} 

.project-tab .tab-content .tab-pane{border: none !important;}


.dataTables_wrapper.form-inline.dt-bootstrap .row{width: 100%;}

.tab-pane.imgbox p{width: auto !important; height: auto !important;}

.table-accordion-wrp .table-responsive .table th a{color: #f2f2f2;}

.header-top.topheader{background: #002853;
    padding: 5px 0;}
.header-top.topheader .welcome-message p{color: #f5f5f5;}
.header-top.topheader .header-top-settings ul li{color: #f5f5f5;}
.header-main-area.bottomheader{box-shadow: 1px 3px 4px #ccc; background: #f2f2f2;}

.logosection .logo{max-width: 180px;}
.logosection .logo a{display:block;}
.customnavbar{width: 100%; margin: 0px; padding: 0px;}
.customnavbar ul{list-style: none; margin: 0px; padding: 0px;}
.customnavbar ul li{display: inline-block;}
.customnavbar ul li a{display: block;
    text-align: center;
    padding: 17px 15px;
    font-size: 15px;
    color: #000;}

.mobile-header.headermobile{background: #002853;
    padding: 5px 0;} 
    
.footerbox .footer-top {
        background-color: #f7f7f7;
        box-shadow: 2px -1px 4px #ccc;
        padding: 30px 0;
    }
.footerbox .footer-bottom {
        padding: 10px 0;
        background: #002853;
        color: #f2f2f2;}    

.contentbox{min-height: 38.59vh;}  

.signupbox .signup{
    width: 100%;
    margin: 25px;
    padding: 20px;
    box-shadow: 0px 0px 0px 2px #002853;
    background: #f2f2f2;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}



.gp-btn {
  padding: 5px 6px !important;
  font-size: 12px !important;}

  .Search-for-Diamonds-wrp .heading-text {
    margin: 0px 0 6px 0 !important;
    font-size: 13px;
}
.row .gp-btn-wrp {
  padding: 6px 6px 2px 6px !important;
}

.Search-for-Diamonds-wrp .form-control{ padding: 0 10px; height: auto;}
.gp-btn-wrp .search-btn {
  margin: 5px 5px 6px 5px !important;
  font-size: 14px !important;
  padding: 2px 10px !important;
  border-radius: 5px !important;
}

.signupbox .signup2 {
    width: 100%;
    margin: 25px;
    padding: 20px 20px;
    box-shadow: 0px 0px 0px 2px #002853;
    background: #f2f2f2;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.signupbox .signup h2, .signupbox .signup2 h2{background: #002853;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 15px 15px 25px;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 25px;
    background-image: linear-gradient(to right, #002853, #f2f2f2);
    z-index: 9;
    }
#product_div .header-area{display:none;}

.searchpage .diamondfbox{display: none;}

.searchproductPage .resetvisibility{visibility: visible;}
.ourproductPage .resetvisibility{visibility: hidden;}

.certifieddiamond_heading, .fancyclrdiamon_heading, .labgrowndiamond_heading, .canadamarkdiamond_heading, .meleediamond_heading{display: none;}

/* .fancyclrdiamon .fancyclrdiamon_heading{display: block;} */

.certifieddiamond .certifieddiamond_heading{display: block;}
.certifieddiamond .fancyclrdiamon_heading{display: none;}

.fancyclrdiamon .certifieddiamond_heading{display: none;}
.fancyclrdiamon .fancyclrdiamon_heading{display: block;}

.canadamarkdiamond .canadamarkdiamond_heading{display: block;}

.labgrowndiamond .labgrowndiamond_heading{display: block;}
.labgrowndiamond .fancyclrdiamon_heading, .canadamarkdiamond .canadamarkdiamond_heading, .labgrowndiamond .certifieddiamond_heading, .labgrowndiamond .meleediamond_heading{display: none;}

.meleediamond .meleediamond_heading{display: block;}
.meleediamond .fancyclrdiamon_heading, .canadamarkdiamond .canadamarkdiamond_heading, .meleediamond .certifieddiamond_heading, .meleediamond .labgrowndiamond_heading{display: none;}

.canadamarkdiamond .canadamarkdiamond_heading{display: block;}
.canadamarkdiamond .fancyclrdiamon_heading, .canadamarkdiamond .meleediamond_heading, .canadamarkdiamond .certifieddiamond_heading, .canadamarkdiamond .labgrowndiamond_heading{display: none;}

.changecurrencybox .nice-select{background: transparent;
  border: none; position: relative;
  width: 100px;}
.changecurrencybox .nice-select ul.list li{color: #002853;}
.changecurrencybox  .-select ul.list li.option.selected.focus{padding-left: 39px !important; padding-right:18px;}
.header-top-settings .changecurrencybox ul.list li:first-child {
  padding-left: 38px !important;}
    
.txtareadisplay{display:none; resize:auto;}

.signupbox .login-btn{margin: 20px auto;}

.signupbox .signup form{margin-top:60px;}
.signupbox .signup2 form{margin-top:0px}
.signupbox .panel.panel-default.firstbox {padding-top: 65px;}    
.signupbox .panel.panel-default.secondbox {padding-top: 65px;} 

.changedataboxpayment{display:none}

.maxwidth650{max-width: 650px !important;}
.enquiryboxmodel .input-group{margin-bottom: 15px;}
.enquiryboxmodel h1{margin: 20px 0 0 0px;
  padding: 15px; font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid #DDD;
  display: block; width:100%;
}
.enquiryboxmodel h1 i{font-size: 15px; text-transform: capitalize;}
.enquiryboxmodel h1 strong{text-transform: uppercase; font-size: 20px;}
.btn.custombtn{background: #002853;
  padding: 12px 15px;
  color: #fff;
  text-transform: uppercase;}

  .shiningbox{display: block; text-decoration:none; text-align: center; color:#000}
  .shiningbox span{display: inline-block; text-transform: uppercase;}
  .shiningbox span:first-child{font-size: 30px;
    letter-spacing: 3px;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;}
  .shiningbox span:last-child{ letter-spacing: 8px;}

  .navbar.notboxes .navbar-nav>.messages-menu>.dropdown-menu>li.header, .navbar.notboxes .navbar-nav>.notifications-menu>.dropdown-menu>li.header, .navbar.notboxes .navbar-nav>.tasks-menu>.dropdown-menu>li.header{
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
    padding: 0px;
    border-bottom: none;
    color: #444;
    font-size: 14px;
  }

  .navbar.notboxes .navbar-nav>.messages-menu>.dropdown-menu, .navbar.notboxes .navbar-nav>.notifications-menu>.dropdown-menu, .navbar.notboxes .navbar-nav>.tasks-menu>.dropdown-menu{
    box-shadow: 0 0 6px #333 !important;
    padding:8px !important;
  }
   
  .navbar.notboxes li.footer.updatelivestatus a{background:#00a65a!important; color:#f2f2f2 !important;}
  .navbar.notboxes li.footer.updatelivestatus a:hover{opacity:0.6;}
  .navbar.notboxes li.header.heading{text-align: center;
    padding: 8px 10px !important;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600;}
    .navbar.notboxes li.header.bbxxes{margin:6px 0 !important; border:none;}
  .navbar.notboxes .header.bbxxes a{display:block; font-size: 12px; padding:2px 10px;}
  .navbar.notboxes .header.bbxxes a span{display:inline-block;}
  .navbar.notboxes .header.bbxxes a span:nth-child(2){ margin: 0 10px;}
  .navbar.notboxes .header.bbxxes a span:last-child{display: block;
    text-align: right;
    font-style: italic;
    font-size: 10px;
    /* border-top: 1px solid #ded; */
  }
  .navbar.notboxes li.header.bbxxes:nth-child(even) a{background:#DDD;}   

  span.changests span{display: inline-block;}
  span.changests span a.clrred{display: block; color: #f00;}
  span.changests span:last-child{margin-left: 5px;} 
  span.changests span select{padding:3px 0; display: block; cursor:pointer}
  span.changests span select > option{cursor:pointer}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .messageboxall{ position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    display: block;
}

.enquire-btn-wrp{height:60px !important}
.order-btn-wrp{height:88px !important;}

  .pagebox{margin: 30px 0; width: 100%;}
  .pagebox .tabcontent{min-height: 30vh; padding: 0;
    border: none;}
  .pagebox .tab button{padding: 10px 20px;
    font-size: 15px;
    width: 33.33%;
    border-right: 1px solid #ccc;
  }
  .pagebox .tab button a{display: block; color: #000;}
  .project-tab { margin: 50px 0 30px 0 !important;}
 .pagebox .nice-select{display: none;}  
 .pagebox select{display: block !important;} 

.dkprealoader{width: 100px; margin: 30px auto;}    

  .pagebox table.table thead tr th {
    background-color: #ccc; border-color: #ccc;
    padding: 8px;
    font-size: 12px;}
.pagebox table.table tbody tr td{font-size: 12px;}
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }

  /*--------popup---------------*/
  .videopopupbox{width: 100%; margin: 0px; padding: 0px;}
  .videopopupbox video{ width: 100%; height: auto;}
  button.clsbutton.close{position: absolute !important; top:-17px !important; right: -17px !important; color: #f00 !important;}


@media only screen and (max-width: 600px) {
    .dkfilter, .dkresetfilter, .dkadvancefilter{width: 33%; overflow: hidden; padding: 2px 3px}
    
    .diamondserachbox .col-sm-8{width:50%}
    .diamondserachbox .col-sm-2{width:25%}
  }

