/*====Deepak Kumar Custom CSS=====*/
.dkfilter{text-align:left}
.dkfilter .dkf{padding: 2px 20px; border-radius: 0px 0px 5px 5px;}
.dkfilter .dkf span{display: block;height: 18px;}
.dkadvancefilter{text-align:center}
.dkadvancefilter .dkaf{padding: 2px 20px; border-radius: 0px 0px 5px 5px;}
.dkadvancefilter .dkaf span{display: block;height: 18px;}
.dkresetfilter{text-align:right;}
.dkresetfilter .dkreset{padding: 10px 20px;}

.dkFilterbox{ margin: 0 0 15px 0;}

#showAdvanceFilterBox, #shortFilterBox{display: none;}

.hideFilter, .showAfilter, .hideAfilter{display: none;}
.Search-for-Diamonds-wrp .shape-filter{float: left !important;}

.Search-for-Diamonds-wrp .heading-text{
    margin: 0px 0 10px 0;
    text-transform: uppercase;
    font-size: 17px;}
.Search-for-Diamonds-wrp .gaye-box{padding: 10px 10px 0 10px;}
.Search-for-Diamonds-wrp .shape-filter-btn{width:60px;}
.Search-for-Diamonds-wrp .shape-filter-btn .checkbox33{font-size: 10px;}
.Search-for-Diamonds-wrp .shape-filter-btn .checkmark {
    top: 37px; background-position: 54% !important;
    height: 51px;
    width: 55px;}
.Search-for-Diamonds-wrp .price-range-block .price-range-field{height: 36px;}
.tab-content h4{margin: 0px !important;
    padding: 10px 30px !important;
    text-transform: uppercase;
    font-size: 15px;}
.table-accordion-wrp .table-responsive .table th{    
    padding: 5px 5px;
    font-size: 13px;
    background: #007bff;
    color: #f2f2f2;} 
.table-accordion-wrp .table-responsive .table td{padding: 5px 5px; font-size: 13px;} 
.table-accordion-wrp .table-responsive .table td p{width: 35px; height: 35px; overflow: hidden;}
.table-accordion-wrp .table-responsive .table td p img, .table-accordion-wrp .table-responsive .table td p img{max-width: 100%;} 
.table-accordion-wrp .table-responsive .table td a.detail-order-btn{padding: 6px 10px !important; display: block; margin: 0px auto;}     