#tabs.project-tab {
    margin-top: 15px !important;
  }
  #shape_shape_div.shape-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*   padding: 10px; */
    padding: 0px 10px 20px;
  }
  #js_carat_filter .Carat-filter-container,
  #js_price_filter .price-filter-container {
    padding: 0 20px 0;
  }
  
  .Carat-filter-container .price-range-block .price-range-box,
  .price-filter-container .price-range-block .price-range-box {
    margin: 15px 0 20px;
  }
  .row .gp-btn-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 2px;
  }
  .row .gp-btn-wrp button.btn.gp-btn ~ button {
    margin-left: 5px;
  }
  .gp-btn-wrp .search-btn {
    margin: 10px 0 10px;
    font-size: 16px;
    width: auto;
    padding: 5px 20px 5px;
  }

  
  .shape-filter-btn >label > span.checkmark{
    background-image: url(http://localhost/augurslp-diamondwtvy/assets/img/shape-icons.jpg) !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Round-icon{
    background-position: -13px -17px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Princess-icon{
     background-position: -69px -17px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Emerald-icon{
    background-position: -125px -127px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Asscher-icon{
     background-position: -184px -17px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Cushion-icon{
     background-position: -13px -73px !important; 
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Marquise-icon{
     background-position: -66px -73px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Radiant-icon{
     background-position: -125px -73px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn  .Oval-icon{
   background-position: -183px -73px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Pear-icon{
     background-position: -13px -127px !important;
  }
  #Search-for-Diamonds-wrp.Search-for-Diamonds-wrp .row .shape-filter-btn .Heart-icon{
      background-position: -126px -126px !important;
  }