.price-range-block {
    margin:0px;
}

.price-range-block .sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

.price-range-block  .ui-slider-horizontal {
    height: .6em;
}
.price-range-block .ui-slider-horizontal {
    margin-bottom: 15px;
    width:100%;
}
.price-range-block .ui-widget-header {
   /* background: #002853; */
        background-image: linear-gradient(90deg,#6fbcfe 0,#998dff 51%,#6fbcfe);
    background-size: 200% auto;
}

.price-range-block .price-range-search {
    width:40.5%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}
.price-range-block .price-range-field{

       /* width: 49%;
    min-width: 16%; */
    background-color: #f9f9f9;
    border: 2px solid #002853;
    color: black;
    
    
    border-radius: 0;
    height: 50px;
    padding: 5px 10px 5px 10px;
}
.price-range-block .search-results-block{
    position: relative;
    display: block;
    clear: both;
}

.price-range-block .ui-state-default{     
    border: 1px solid #002853 !important;
    background: #002853 !important;     
    width: 20px !important;
    height: 20px !important;
    top: -7px !important; }

.price-range-block .price-range-box{ margin: 20px 0 35px 0; }

.price-range-block .Min-Price{position: absolute;
    font-size: 11px;
    background: #f1f1f1;
    margin-left: 12px;
    margin-top: -9px;
    padding-left: 10px;
    padding-right: 10px; }

.price-range-block .Max-Price{ position: absolute;
    font-size: 11px;
    background: #f1f1f1;
    margin-left: 12px;
    margin-top: -9px;
    padding-left: 10px;
    padding-right: 10px; right: 24px; }

.price-range-block .Max-Price-in{ width: 40%; float: right; }

.price-range-block .Min-Price-in{ width: 40%; float: left;  }

.clear{    clear: both;
    float: none;}

